.starting-content {
  --background: #ffffff;
}
.starting-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 44px);
  padding: 16px;
  gap: 32px;
}
.app-icon {
  width: 400px;
  height: auto;
  object-fit: contain;
}
.get-started-btn {
  --border-radius: 9999px;
  --padding-start: 18px;
  --padding-end: 18px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  font-size: small;
}

